.centre25 > a {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}

.masthead .intro-body {
}

@media (min-width:600px) {
}

.masthead .intro-body .brand-heading {
}

.centre75 > a {
  position: absolute;
  top: 75%;
  left: 10%;
  right: 10%;
}

.btn-group, .btn-group-vertical {
  /*margin-right: 2%;*/
  /*margin-left: 2%;*/
}

.btn.btn-link.btn-lg.shadow-lg.d-inline.d-lg-flex.align-items-center.justify-content-lg-center {
  width: 130px;
  margin: 5px;
  text-decoration: none;
}

